img {
	width: 100px;
	border: 1px solid black;
	border-radius: 100px;
	-webkit-box-shadow: 3px 3px 1px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 1px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 1px 0px rgba(50, 50, 50, 0.75);
}

html {
	background-image: url(../img/woodbackgound02.jpg);
	font-family: 'Ruluko', sans-serif;
	font-size: 1.5em;
	background-size: 100% 100%;
	/*background-color: #3B2925;*/
}

.mainBody {
	width: 97%;
	height: 800px;
	border: 3px solid #6A4A42;
	background-image: url(../img/oldpaper.jpg);
	background-size: 100% 100%;
	border-radius: 20px;
	padding: 5px;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	overflow:scroll;
}

h1 {
	font-family: 'Aclonica', sans-serif;
	text-align: center;
	color: white;
}

/*button {
	background-image: url(../img/rbicon.png);
}
*/
.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #fed897;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fed897;
	box-shadow:inset 0px 1px 0px 0px #fed897;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #95643b), color-stop(1, #e6a627) );
	background:-moz-linear-gradient( center top, #95643b 5%, #e6a627 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#95643b', endColorstr='#e6a627');
	background-color:#95643b;
	-webkit-border-top-left-radius:37px;
	-moz-border-radius-topleft:37px;
	border-top-left-radius:37px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:37px;
	-moz-border-radius-bottomright:37px;
	border-bottom-right-radius:37px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #ad7310;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:42px;
	line-height:46px;
	width:96px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cd8a15;
}

.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e6a627), color-stop(1, #95643b) );
	background:-moz-linear-gradient( center top, #e6a627 5%, #95643b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6a627', endColorstr='#95643b');
	background-color:#e6a627;
}

.classname:active {
	position:relative;
	top:1px;
}


/*.board {
	background-image: url(images/chalkboard-u1743.png);
	width: 100%;
	height: 700px;
	background-repeat: no-repeat;
}*/

/* css-star-rater */
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 250px;
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><polygon fill="#806600" points="10,0 13.09,6.583 20,7.639 15,12.764 16.18,20 10,16.583 3.82,20 5,12.764 0,7.639 6.91,6.583 "/></svg>');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><polygon fill="#cda300" points="10,0 13.09,6.583 20,7.639 15,12.764 16.18,20 10,16.583 3.82,20 5,12.764 0,7.639 6.91,6.583 "/></svg>');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}
/**,
::after,
::before {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}*/
/*body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body::before {
  height: 100%;
  content: '';
  width: 0;
  background: red;
  vertical-align: middle;
  display: inline-block;
}*/